@model IEnumerable<Venkat.Models.EmployeeByDepartment>

@{
    ViewBag.Title = "EmployeeByDepartment";
}

<h2>EmployeeByDepartment</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
    }

</table>
